<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student details</title>
</head>
<body>
    <h1>{{ student.surname }} {{ student.name }} {{ student.patronymic }}</h1>
    <p>Email: {{ student.email }}</p>
    <p>Phone: {{ student.phone_number }}</p>
    <p>Privilege: {{ student.get_privilege_display }}</p>
    <p>Date of Birth: {{ student.date_of_birth }}</p>
    <p>Form: {{ student.id_form.name }}</p>
    <p>________________________</p>
    <p><a href="{% url 'student_update' student.pk %}">Edit</a></p>
    <p><a href="{% url 'student_delete' student.pk %}">Delete</a></p>
    <p><a href="{% url 'student_list' %}">Back to list</a></p>

</body>
</html>