<!DOCTYPE html>
<html lang="en">
<head>
    <title>Teacher Detail</title>
</head>
<body>
    <h1>{{ teacher.surname }} {{ teacher.name }} {{ teacher.patronymic }}</h1>
    <p>Email: {{ teacher.email }}</p>
    <p>Phone: {{ teacher.phone_number }}</p>

    <p>________________________</p>
    <p><a href="{% url 'teacher_update' teacher.pk %}">Edit</a></p>
    <p><a href="{% url 'teacher_delete' teacher.pk %}">Delete</a></p>
    <p><a href="{% url 'teacher_list' %}">Back to list</a></p>
</body>
</html>
